#full {
    height: 100%;
    width: 100%;
}

.buffer {
    margin-bottom: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

.btn:active { box-shadow: none; }

.link-format { color: lightseagreen; }

.link-format:hover {
    color: lightseagreen;
    text-decoration: none;
}

.speaker-name { font-weight: bold; }

.body { overflow-scrolling: touch; }