@model ITConferences.WebUI.Models.LocationViewModel
    

<div class="col-md-3 col-xs-4">
    @Html.TextBox("SearchText", ViewData["Filter"], new { @id = "ConferenceNameFilter", @type = "text", @class = "form-control", @placeholder = "Event name" })
</div>

