@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>The website was created for the engineering thesis needs. If you found any bug, please write me: <a href="mailto:ewelina.olejnik@outlook.com">ewelina.olejnik@outlook.com</a></h3>
</div>

