@model ITConferences.Domain.Entities.Image

@using (Html.BeginForm("UploadImage", "Conferences", FormMethod.Post,
                                                            new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @if (Model != null)
        {
            
        }
        <div class="col-md-10">
            @Html.LabelFor(model => model, htmlAttributes: new {@class = "control-label col-md-2"})
            <input type="file" name="image" id="img"/>
        </div>
    </div>
}
