@model ITConferences.WebUI.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@Scripts.Render("~/bundles/manage")

<div class="container" id="manage">

    <p class="text-success">@ViewBag.StatusMessage</p>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password: </dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Set password", "SetPassword")
            }
        </dd>
        <br />
        <dt>Change profile image: </dt>
        <dd>
            <form method="post" enctype="multipart/form-data" class="form-group">
                <input type="file" name="image" id="image" />
            </form>
        </dd>
    </dl>
</div>
